[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "vim/bundle/vim-fugitive"]
	path = vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "vim/bundle/unite.vim"]
	path = vim/bundle/unite.vim
	url = https://github.com/Shougo/unite.vim.git
[submodule "vim/bundle/ctrlp.vim"]
	path = vim/bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/bundle/vim-commentary"]
	path = vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "vim/bundle/vim-repeat"]
	path = vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "vim/bundle/vim-jinja"]
	path = vim/bundle/vim-jinja
	url = https://github.com/mitsuhiko/vim-jinja.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "dircolors-solarized"]
        path = dircolors-solarized
        url = https://github.com/seebi/dircolors-solarized.git
[submodule "gnome-terminal-colors-solarized"]
        path = gnome-terminal-colors-solarized
        url = https://github.com/Anthony25/gnome-terminal-colors-solarized
[submodule "tmux-solarized"]
        path = tmux-solarized
        url = https://github.com/seebi/tmux-solarized.git
[submodule "vim/bundle/vim-dispatch"]
        path = vim/bundle/vim-dispatch
        url = https://github.com/tpope/vim-dispatch.git
[submodule "vim/bundle/vim-stackoverflow"]
 	path = vim/bundle/vim-stackoverflow
 	url = https://github.com/mickaobrien/vim-stackoverflow.git
[submodule "tmux-colors-solarized"]
 	path = tmux-colors-solarized
 	url = https://github.com/seebi/tmux-colors-solarized.git
[submodule "vim/bundle/vim-polyglot"]
	path = vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot.git
[submodule "vim/bundle/YCM-Generator"]
	path = vim/bundle/YCM-Generator
	url = https://github.com/rdnetto/YCM-Generator.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "vim/bundle/YouCompleteMe"]
	path = vim/bundle/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
